<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/static/css/memberLayout.css" rel="stylesheet" >
<script language='javascript'>

</script>
</head>
<body>
	<h3>상품 상세 페이지</h3>
	상품 이름: [[${goodsCommand.goodsName}]]
	<br />상품 재고: [[${goodsCommand.goodsStock}]] 개
	<br />가격 : [[${goodsCommand.goodsPrice}]] 원
	<br />배송비 : [[${goodsCommand.goodsDeliveryFee}]] 원 이상 구매 시 무료배송
	<br />내용 : 
	<span th:utext="${#strings.replace(goodsCommand.goodsContent,newLineChar,'&lt;br /&gt;')}"></span>
	<Br/>
	대문 이미지<br />
	<img th:src="|/goods/upload/${goodsCommand.goodsMain}|" width="500px" /><br />

	<a href="javascript:history.back();">뒤로 가기</a>
    | <a th:href="@{../goodsModify(goodsNum=${goodsCommand.goodsNum})}">수정</a> 
	| <a th:href="|../goodsDelete/${goodsCommand.goodsNum}|">삭제</a>
</body>
</html>