<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
<script type="text/javascript" src="/static/js/contractList.js"></script>
<script type="text/javascript" src="/static/js/settings.js"></script>
<script>
function contractInfo(){
	var data = $('#metadata').text();
	console.log(data);
	window.open("https://selcontest.infura-ipfs.io/ipfs/" + data);
}
</script>
<style>
body{
background-color : #f1f1f1;
}
div{
margin-top : 100px;
background-color : white;
width:650px;
border:1px solid black;
padding : 20px;
}
</style>
</head>
<body>
<center>
<input type="hidden" id="wallet" th:value="${sellCommand.sellerWalletAddr}" />
<div>
<table border=1>
<tr><th>서명을 위한 인증서를 첨부하세요<br/></th>
<th><input type="file" onchange="onFileSelected(event)" /></th></tr>
</table>
<table border="1">
<caption><h4>계약 상세 정보</h4></caption>
<tr th:onchange="getAuctionById(this)">
<td>계약번호</td><td><span id="contractNum"></span></td></tr>
<tr><td>계약서 메타데이터</td><td><span id="metadata"></span></td></tr>
<tr><td>토큰 아이디</td><td><span id="tokenId"></span></td></tr>
<tr><td>계약일</td><td><span id="contractDate"></span></td></tr>
<tr><td>종료일</td><td><span id="expiryDate"></span></td></tr>
<tr><td>계약 컨트랙트 주소</td><td><span id="contractAddress"></span></td></tr>
<tr><td>토큰 소유자</td><td><span id="owner"></span></td></tr>
<tr><td>토큰 활성여부</td><td><span id="active"></span></td></tr>
<tr><td>계약 만료여부</td><td><span id="finalized"></span><br/></td></tr>
<tr><td>계약서 사본 조회</td><td><button type="button" onclick="contractInfo();">조회</button></td></tr>
</table>
<br/><br/>
<a href="javascript:history.back();">홈으로</a>
</div>
</center>
</body>
</html>