<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blockAuth.mapper.BuyerMapper">
<sql id="buyerBase">
BUYER_NUM buyerNum, BUYER_ID buyerId, BUYER_PW buyerPw, BUYER_NAME buyerName, BUYER_PHONE buyerPhone, 
BUYER_ADDR1 buyerAddr1, BUYER_ADDR2 buyerAddr2, BUYER_BIRTH buyerBirth, BUYER_EMAIL buyerEmail, 
MEMBERSHIP membership, BUYER_POINT buyerPoint, BUYER_POSTCODE buyerPostcode, BUYER_WALLET_ADDR buyerWalletAddr
</sql>
<select id="buyerNumGenerate" resultType="string">
	select concat('buyer',nvl(max(substr(buyer_num,6)),100000)+ 1) 
	from buyer
</select>
<insert id="buyerInsert" parameterType="buyerDTO">
	insert into buyer(BUYER_NUM, BUYER_ID, BUYER_PW, BUYER_NAME, BUYER_PHONE, BUYER_ADDR1, BUYER_ADDR2,
						BUYER_BIRTH, BUYER_EMAIL, MEMBERSHIP, BUYER_POINT, BUYER_POSTCODE, BUYER_WALLET_ADDR)
	values(#{buyerNum}, #{buyerId}, #{buyerPw}, #{buyerName}, #{buyerPhone}, #{buyerAddr1}, #{buyerAddr2},
			#{buyerBirth}, #{buyerEmail}, #{membership}, #{buyerPoint}, #{buyerPostcode}, #{buyerWalletAddr})
</insert>
<select id="selectAll" resultType="buyerDTO">
	select BUYER_NUM buyerNum, BUYER_ID buyerId, BUYER_PW buyerPw, BUYER_NAME buyerName, BUYER_PHONE buyerPhone, BUYER_ADDR1 buyerAddr1, BUYER_ADDR2 buyerAddr2,
		   BUYER_BIRTH buyerBirth, BUYER_EMAIL buyerEmail, MEMBERSHIP membership, BUYER_POINT buyerPoint, BUYER_POSTCODE buyerPostcode, BUYER_WALLET_ADDR buyerWalletAddr
	from buyer
</select>
<select id="selectOne" parameterType="string" resultType="buyerDTO">
	select <include refid="buyerBase" />
	from buyer
	where buyer_num = #{buyerNum}
</select>
<select id="selectOneId" parameterType="string" resultType="buyerDTO">
	select <include refid="buyerBase" />
	from buyer
	where buyer_id = #{buyerId}
</select>
<update id="buyerUpdate" parameterType="buyerDTO">
	update buyer
	set buyer_id = #{buyerId}, buyer_name = #{buyerName}, buyer_phone = #{buyerPhone},
		buyer_addr1 = #{buyerAddr1}, buyer_addr2 = #{buyerAddr2}, buyer_postcode = #{buyerPostcode},
		buyer_birth = #{buyerBirth}, buyer_email = #{buyerEmail}
	where buyer_num = #{buyerNum}
</update>
<delete id="buyerDelete" parameterType="string">
	delete from buyer
	where buyer_num = #{buyerNum}
</delete>
<select id="buyerIdCheck" parameterType="string" resultType="string">
	select buyer_id from buyer
	where buyer_id = #{buyerId}
	union
	select seller_id from seller
	where seller_id = #{sellerId}
</select>
<select id="buyerEmail" resultType="authInfo" parameterType="string">
	select buyer_email email, buyer_id userId from buyer
	where buyer_email = #{email}
	union
	select seller_email, seller_id from seller
	where seller_email = #{email}
</select>
</mapper>