<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blockAuth.mapper.PurchaseMapper">
<resultMap type="cartGoodsDTO" id="GoodsCartResultMap">
	<result column="total_price" jdbcType="BIGINT" property="totalPrice"/>
	<association property="goodsDTO" javaType="goodsDTO">
		<id column="goods_num" jdbcType="VARCHAR" property="goodsNum"/>
		<result column="goods_main" jdbcType="VARCHAR" property="goodsMain"/>
		<result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
		<result column="GOODS_DELIVERY_FEE" jdbcType="VARCHAR" property="goodsDeliveryFee"/>
	</association>
	<association property="cartDTO">
		<id column="goods_num" jdbcType="VARCHAR" property="goodsNum"/>
		<result column="qty" jdbcType="BIGINT" property="qty"/>
	</association>
</resultMap>
<select id="orderSheet" parameterType="cartDTO" resultMap="GoodsCartResultMap">
	select goods_main, g.goods_num, goods_name, GOODS_DELIVERY_FEE, QTY, QTY * goods_price total_price
	from goods g, cart c
	where g.goods_num = c.goods_num and buyer_num =#{buyerNum}
	and c.goods_num in
	<foreach collection="goodsNums" item="goodsNum" open="(" close=")" index="index" separator=",">
		#{goodsNum}
	</foreach>
</select>
<select id="selectNum" resultType="string">
	select nvl(max(substr(PURCHASE_NUM,5)), 100000)+ 1
	from purchase
</select>
<select id="selectPayNum" resultType="string">
	select nvl(max(substr(PAYMENT_NUM,6)), 100000)+ 1
	from payment
</select>
<insert id="purchaseInsert" parameterType="purchaseDTO">
	insert into purchase(PURCHASE_NUM, TOTAL_PRICE, DELIVERY_ADDR, DELIVERY_ADDR_2, DELIVERY_POSTCODE, 
						RECEIVER_PHONE, RECEIVER_NAME, BUYER_NUM, DELIVERY_REQ )
	values(#{purchaseNum}, #{totalPrice}, #{deliveryAddr}, #{deliveryAddr2}, #{deliveryPostcode}, 
			#{receiverPhone}, #{receiverName}, #{buyerNum}, #{deliveryReq})
</insert>
<insert id="purchaseListInsert" parameterType="purchaseListDTO">
	insert into purchase_list(PURCHASE_NUM, GOODS_NUM, BUYER_NUM,
	GOODS_QTY, PURCHASE_DATE)
	select #{purchaseNum}, g.GOODS_NUM, c.BUYER_NUM, QTY, sysdate
	from cart c , goods g
	where c.GOODS_NUM = g.GOODS_NUM
	and c.GOODS_NUM = #{goodsNum}
	and c.BUYER_NUM = #{buyerNum}
</insert>
<delete id="cartGoodsDels" parameterType="cartDTO">
		delete from cart
		<trim prefix="where" suffixOverrides="AND | OR" prefixOverrides="AND | OR">
			and BUYER_NUM =  #{buyerNum} and 
			<if test="goodsNums != null">
				 GOODS_NUM in
				<foreach collection="goodsNums" item="goodsNum" index="index"
					open="(" close=")" separator=",">
					#{goodsNum}
				</foreach>
			</if>	
		</trim>
</delete>
<insert id="paymentInsert" parameterType="paymentDTO">
insert into payment(PAYMENT_NUM, PURCHASE_NUM, PAYMENT_METHOD, PAYMENT_DATE, OK_DATE, CARD_COMPANY, OK_NUM, CREDIT_NUM)
values(#{paymentNum}, #{purchaseNum}, #{paymentMethod}, #{paymentDate}, #{okDate}, #{cardCompany}, #{okNum}, #{creditNum})
</insert>
</mapper>