<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!--테스트 JS-->
<script language="javascript" type="text/javascript"
	src="https://stgstdpay.inicis.com/stdjs/INIStdPay.js" charset="UTF-8"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript">
$(function(){
	INIStdPay.pay('SendPayForm_id');
});
/*
	function paybtn() {
		INIStdPay.pay('SendPayForm_id');
	}
	*/
</script>
</head>
<body>
<form name="" id="SendPayForm_id" method="post" class="mt-5">
		<input type="hidden" name="version" value="1.0"> 
		<input type="hidden" name="gopaymethod" value="Card:Directbank:vbank">
		<input type="hidden" name="mid" th:value="${mid}"> 
		<input type="hidden" name="oid" th:value="${orderNumber}"> 
		<input type="hidden" name="price" th:value="${totalPrice}"> 
		<input type="hidden" name="timestamp" th:value="${timestamp}"> 
		<input type="hidden" name="signature" th:value="${signature}"> 
		<input type="hidden" name="mKey" th:value="${mKey}"> 
		<input type="hidden" name="currency" value="WON"> 
		<input type="hidden" name="goodname" th:value="${purchaseNum}"> 
		<input type="hidden" name="buyername" th:value="${buyername}">
		<input type="hidden" name="buyertel" th:value="${buyertel}"> 
		<input type="hidden" name="buyeremail" th:value="${buyerEmail}"> 
		<input type="hidden" name="returnUrl" value="http://localhost:8080/paymentTest/paymentReturn2"> 
		<input type="hidden" name="closeUrl" value="http://localhost:8080/paymentTest/paymentClose"> 
		<input type="hidden" name="acceptmethod" value="HPP(1):below1000:va_receipt">
	</form>
</body>
</html>