<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>MemberPwChange</title>
<style>
	table {
			    margin-left:auto; 
			    margin-right:auto;
	}
</style>
</head>
<body>
	<form action="memberPwChangeComplete" method="get" name="frm" id="frm">
		<table>
			<caption>비밀번호를 변경하기</caption>
			<tr>
				<td>새로운 비밀번호 입력 : </td>
				<td><input type="password" name="userPw" /></td>
			</tr>
			<tr>
				<td>새로운 비밀번호 확인 : </td>
				<td><input type="password" name="userPwCon" /></td>
			</tr>
			<tr>
				<td colspan="2" style="text-align:center"><input type="submit" value="확인" /></td>
			</tr>
		</table>
	</form>
</body>
</html>