<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Member Check</title>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<style type="text/css">
.container {
	width: auto;
}

.col-md-4 {
	text-align: center;
}
</style>
<style type="text/css">
#success_message {
	display: none;
}
</style>
<script>
  function PwSubmit(obj) {

	  
	  var pw1 = document.getElementById( 'userPw' ).value;
      var pw2 = document.getElementById( 'userPwCon' ).value;
	  var num = pw1.search(/[0-9]/g);
	  var eng = pw1.search(/[a-z]/ig);
	  var spe = pw1.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);
	  
	  console.log('pw1 = ' + pw1)
	  if(pw1.length < 8 || pw1.length > 20){

		  alert("8자리 ~ 20자리 이내로 입력해주세요.");
		  return false;
	  }else if(pw1.search(/\s/) != -1){
		  alert("비밀번호는 공백 없이 입력해주세요.");
		  return false;
	  }else if(num < 0 || eng < 0 ){
		  alert("영문,숫자, 특수문자를 혼합하여 입력해주세요.");
		  return false;
	  }
	   
      if ( pw1 == pw2 ) {
    	  
    	//validation check 
    	
        alert( '비밀번호가 변경되었습니다.');
        return true;
      }
      else{
    	  alert( '비밀번호 확인이 틀립니다. 다시 입력하세요.');
    	  return false;
      }
  }
</script>
</head>
<body>
	<div class="container">

		<form class="form-horizontal" onsubmit="PwSubmit(this);" action="memberPwChangeComplete"
			method="post" id="contact_form" th:object="${passwordChangeCommand}">
			<fieldset>

				<!-- Form Name -->
				<legend>
					<center>
						<h3>
							<b>새 비밀번호 설정하기</b>
						</h3>
					</center>
				</legend>
				<br>

				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label">새로운 비밀번호 입력</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input type="password"
								name="userPw" id="userPw" class="form-control">
						</div>
						<span style="color: red" th:if="${#fields.hasErrors('userPw')}"
							th:errors="*{userPw}"></span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">새로운 비밀번호 확인</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input type="password"
								name="userPwCon" id="userPwCon" class="form-control">
						</div>
						<span style="color: red" th:if="${#fields.hasErrors('userPwCon')}"
							th:errors="*{userPwCon}"></span>
					</div>
				</div>
				<!-- Success message -->
				<div class="alert alert-success" role="alert" id="success_message">
					Success <i class="glyphicon glyphicon-thumbs-up"></i> Success!.
				</div>

				<!-- Button -->
				<div class="form-group">
					<label class="col-md-4 control-label"></label>
					<div class="col-md-4">
						<br>
						<button type="submit" class="btn btn-warning">
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp확인 <span
								class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						</button>
					</div>
				</div>

			</fieldset>
		</form>
	</div>
	</div>
	<!-- /.container -->
</body>
</html>