<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>MemberPwChange</title>
<style>
	table {
			    margin-left:auto; 
			    margin-right:auto;
	}
</style>
</head>
<body>
	<form action="memberPwChangeComplete" method="post" name="frm" id="frm" th:object="${passwordChangeCommand}">
		<table>
			<caption>비밀번호를 변경하기</caption>
			<tr>
				<td>새로운 비밀번호 입력 : </td>
				<td>
					<input type="password" name="userPw" />
					<br /><span style="color:red" th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}"></span>
				</td>
			</tr>
			<tr>
				<td>새로운 비밀번호 확인 : </td>
				<td>
					<input type="password" name="userPwCon" />
					<br /><span style="color:red" th:if="${#fields.hasErrors('userPwCon')}" th:errors="*{userPwCon}"></span>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="text-align:center"><input type="submit" value="확인" /></td>
			</tr>
		</table>
	</form>
</body>
</html>